\html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

* {
  margin: 0;
  padding: 0;
}

body{
  font-size: 125%;
  background: linear-gradient(rgb(255, 255, 255), grey, rgb(50, 50, 50));
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}
 h1,
 h2,
 p {
   text-align: center
 }

h1 {
  color: white;
  margin: 0px 0 10px 0;
  line-height: 2.5rem;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

h2 {
  font-size: 2.5rem;   
  margin: 20px 0 20px 0;
}

ul {
  list-style: none;
}

 a {
  color: black;
  text-decoration: none;
  margin: 0 auto;
  /* box-shadow: 12px 29px 81px 0px rgba(77, 77, 77, 0.75);; */
}

img {
  display: block;
  width: 100%;
}

select {
  font-size: clamp(1rem, 1.75vw, 2rem);
  padding: 0 5px;
  margin-bottom: 5px;
  padding: 3px 8px 0 8px;
  border-radius: 20px;
  border: black 1px solid;
}

select:hover {
  color: white;
  background-color: rgb(86, 86, 86);
  border: white 1px solid;
  transition: 0.5 ease-in;
}

button {
  font-size: clamp(1rem, 1.75vw, 2rem);
  margin: 10px 5px;
  padding: 3px 8px 0 8px;
}

.loadingContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingCircle1,
.loadingCircle2,
.loadingCircle3 {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: 5px;
}

.loadingCircle1 {
  background-color: red;
}
.loadingCircle2 {
  background-color: green;
}
.loadingCircle3 {
  background-color: blue;
}

.flexContainer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
}

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black 2px solid;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin-bottom:30px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);;
}

.paintingSelector,
.scaleSelector,
.tempoSelector {
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
}
.selectMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paintingContainer {
  margin: 0 0% 20px 0%;
}

.playControls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.playControls button {
  /* margin: px 5px 5px 5px; */
  border-radius: 10px;
  border: black 1px solid;
  padding: 5px;
}

.playControls .play:hover   {
  background: rgb(160, 160, 160);  
  transition: 0.5 ease-in;
}

.playControls .stop:hover {
  background: rgb(160, 160, 160);
  transition:  0.9 ease-in;
}

.playIconContainers {
  display:flex;
  justify-content: center;
}

.shuffleIcon,
.playIcon {
  height: 30px;
  width: 30px;
}

.stopIcon {
  height: 30px;
  width: 30px;
  padding-top: 5px;
  position: relative;
  top: 1px;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  margin: 35px 0 10px 0;
}

.colors li {
  border-radius: 50%;
}
 
.hexColorCodes {
  font-size: 1rem;
  font-weight: 400;
  height: 100px;
  width: 100px;
  position: relative;
  top: -30px;
}

.notes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
    
.notes li {
  font-size: 1rem;
  font-weight: 600;
  padding: 0 12px;
}

footer {
  font-size: clamp(1rem, 1.75vw, 2rem);
  text-align: center;
  padding: 0 0 300px 0;
}

/* ******************************************** */

@media (max-width: 1420px) {
  .playControls button {
    margin: 0px 5px 5px 5px;
  }
}

@media (max-width: 900px) {
  .playControls .play {
    width: 113px;
  }
}

@media (max-width: 780px) {
  .colors li {
    margin-bottom: 50px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .onPageLoad {
    margin: 15% 15% 4% 15%;
  }
}